@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

/*............................................Special headings*/
* {
    margin: 0;
    padding: 0;
}

/* Switch off left / right padding */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*............................................Navbar*/
/* Change hover colour of nav links */
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #CFE1FD;
 }

 /* Change hover colour of navbar brand */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-text {
  color: #CFE1FD;
}

/* Change background colour of nav bar */
.bg-dark {
  background-color: #000000;
}

/* Responsive image */
.img-responsive {
    display: block;
    width: 100%;
    height: 100vh;
}

/* Headings for Home and Bio Page */
.main-heading {
    margin-top: 15px;
    text-align: center;
    font-family: "RocknRoll One", sans-serif;
    font-size: 30px;
}

/* Sub Headings for Home and Bio Page */
.sub-heading {
    margin-top: 20px;
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Card headings */
h6 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

/* Hamburger menu */
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}

/* Hamburger menu three line */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Custom style for Navbar brand and nav text */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #88B6FC;
    font-family: "RocknRoll One", sans-serif;
    font-size: 24px;
}

/* Style for Nav links */
.navbar-custom .navbar-nav .nav-link {
    color: #88B6FC;
    font-family: "RocknRoll One", sans-serif;
    font-size: 24px;
}

/*............................................404 page*/
/* Error 404 page background image */
.image-404 {
  background-image: url("https://p1.pxfuel.com/preview/173/152/906/instruments-music-band-musical-instrument-stage-concert.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1000px;
}

/* Error 404 paragraph tags */
.image-404 p {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}

/*............................................Home page*/
.carousel-caption {
  text-align: center;
  color: #A80000;
  font-size: 20px;
}

/* Band bio text */
.band-intro {
    text-align: center;
    font-size: 1.1rem;
    font-family: "Antonio", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Cards for Home page */
.card-title,
.card-text {
    font-family: "Anton", sans-serif;
    text-align: center;
    color: #000000;
}

/* cta buttom wrapper */
.button-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

/* Styles for cta button */
.cta-button {
    background-color: rgba(255, 128, 0);
    color: #000000;
    vertical-align: middle;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2rem;
}

/* Hover style for cta button */
.cta-button:hover {
    background-color: rgba(255, 153, 51);
}

/* Add margin to bottom of columns */
.col {
    margin-bottom: 10px;
}

/* List groups for cards */
.list-group-item {
    text-align: center;
    font-weight: 700;
    list-style-type: none;
    color: #000000;
}

/* Modal button */
.btn2 {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 4px;
    border-radius: 5px;
}

/*............................................Bio page*/

/* Style for band biography text */
.band-bio {
    width: 50%;
    color: #000000;
    margin-left: 25%;
    font-size: 1.2rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Anton", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

 /* Main headings for bio page */
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

/*............................................Media*/
/* Style main grid wrapper for videos */
.gridWrap {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

/* Change background colour of grid columns */
.gridCol {
  padding: 10px;
}

/* Image style for masonry layout */
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main div for masonry layout */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Sizes of image for masonry layout */
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

/* Main wrapper for masonry layout */
.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Wide images for masonry layout */
.grid-wrapper .wide {
	grid-column: span 2;
}

/* Tall images for masonry layout */
.grid-wrapper .tall {
	grid-row: span 2;
}

/* Big images for masonry layout */
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Main heading for each of the videos */
h6 {
    margin-top: 10px;
}

/* To make videos reponsive within container" */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

/* To make iframes responsive */
.resp-iframe {
    position: absolute;
    top: 0;
    margin-left: 15%;
    width: 70%;
    height: 75%;
    border-radius: 10px;
    margin-top: 20px;
}

/* Style paragraphs for video containers */
.resp-container> p {
    text-align: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: 1.1rem;
}

/* Style for video cards */
.video-card {
  background-color: #42A1FF;
  color: #000000;
  padding: 1rem;
  height: auto;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
}

/* Video card conatiner */
.video-cards {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

/*............................................Booking*/

h4 {
  display: none;
}

/* Contact form background image */
/* Background image for contact form */
.bg-img {
    background-image: url("https://m.psecn.photoshelter.com/img-get/I0000kVLr7eOrpek/s/1200/I0000kVLr7eOrpek.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1000px;
}

/* Contact form main wrapper */
.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: rgba(254,236,164,1);
  padding: 25px;
  border-radius: 5px;
}

/* Contact form main wrapper heading */
.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

/* Wrapper for contact fom input fields */
.wrapper .input_field{
  margin-bottom: 5px;
}

 /* Wrapper for contact fom input fields and text */
.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 5px;
}

 /* Wrapper for contact fom textarea */
.wrapper textarea{
  resize: none;
  height: 60px;
}

/* Wrapper for contact fom submit button */
.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

/* Styling for error message */
#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/*............................................Footer*/
/* Stop empty links flagging up on WAVE validation */
.sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
   color:#A4C8FE;
}

/* Main footer style */
.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-family: "RocknRoll One", sans-serif;
}

/* Font awesome icon for Spotify */
.fa-spotify {
    color: green;
    font-size: 30px;
    margin-top: 10px;
}

/* Font awesome icon for You Tube */
.fa-youtube-square {
    color: red;
    font-size: 30px;
    margin-top: 10px;
}

/* Font awesome icon for Twitter */
.fa-twitter-square {
    color: #1DA1F2;
    font-size: 30px;
    margin-top: 10px;
}

/*............................................Media Queries*/
/* To make masonry layout responsive */
@media only screen and (max-width: 768px) {
  .gridWrap { grid-template-columns: 100%; }
}

/* To make contact form responsive */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .contact-form{
    flex-direction: column;
    position: relative;
 }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
  .form-wrapper {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}