@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.img-fluid {
    height:auto;
    max-width: 100%;
    
}

.img-responsive {
    display: block;
    width: 100%;
    max-height: 100%;
}

.main-heading {
    margin-top: 15px;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
}

.sub-heading {
     margin-top: 20px;
     font-family: 'Anton', sans-serif;
     text-align: center;
     font-size: 1.1rem;
     letter-spacing: .2rem;
     padding-left: 2rem;
     padding-right: 2rem;
    }

    h6 {
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: .9rem;
        letter-spacing: .1rem;
        text-transform: capitalize;
    }

/*............................................Navbar*/

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 24px;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 24px;
    
}

/*............................................Home page*/

.card-title,
.card-text {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.cta-button {
  background-color: rgba(255,128,0);
  color: #fff !important;
  vertical-align: middle;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: .4rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
   
}

.cta-button:hover {
background-color: rgba(255,153,51);
}
 
.col {
    margin-bottom: 10px;
}

.column {
  float: left;
  width: 25%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list-group-item {
    text-align: center;
    font-weight: 700;
    list-style-type: none;
}

.btn1 {
    width: 40%;
    padding-bottom: .2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: green;

    
}




/*............................................Bio page*/
#biog { 
  position: absolute;  
  top: 20%;
  font-weight:100; 
  background: rgba(0,0,0,0.1);
  color: white;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  font-size: 1.2rem;
  text-align: center;
}

.band-bio {
     text-align: center;
     font-size: 1.1rem;
     font-family: 'Antonio', sans-serif;
     font-weight: 700;
     font-size: 1.2rem;
     text-align: justify;
     letter-spacing: 1px;
     padding-left: 2rem;
     padding-right: 2rem;
 }

 

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}






/*............................................Contact*/

.wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-us {
    width: 100%;
    max-width: 500px;
    height: auto;
    background: rgba(0,0,0,0.1);
    padding: 40px 50px;
    border-radius: 5px;
}

.title {
    font-size: 2em;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 15px;
}

.input-fields {
    padding: 0 30px;
}

.input-fields .items {
    width: 100%;
    padding-bottom: 15px; 
}

.input-fields .items .label {
    display: block;
    font-size: 1em;
    color: #ffecb3;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.input-fields .items .input,
.input-fields .items .text-area {
    background: transparent;
    border: 0;
    border: 1px solid #ffecb3;
    width: 100%;
    padding: 8px 10px;
    font-size: 1em;
    color: #ffecb3;
    border-radius: 3px;
    
}

.btn {
    width: 86%;
    margin: 0 30px;
    background-color: rgba(255,128,0);
    color: #ffecb3;
    font-size: 1.25em;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}










/*............................................Footer*/

.footer {
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    bottom: 0;
    
}





